<form [formGroup]="fieldForm" #formDirective novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Feld-Informationen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            @if (fieldForm.controls['name'].hasError('required')) {
              <mat-error>Name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Timeslot Duration (min)" formControlName="timeslotDuration">
            @if (fieldForm.controls['timeslotDuration'].hasError('required')) {
              <mat-error>Timeslot Duration is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Open Time" [format]="24" [ngxTimepicker]="openTimePicker" formControlName="openTime">
            <ngx-material-timepicker #openTimePicker></ngx-material-timepicker>
            @if (fieldForm.controls['openTime'].hasError('required')) {
              <mat-error>OpenTime is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Close Time" [format]="24" [ngxTimepicker]="closeTimePicker" formControlName="closeTime">
            <ngx-material-timepicker #closeTimePicker></ngx-material-timepicker>
            @if (fieldForm.controls['closeTime'].hasError('required')) {
              <mat-error>Name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Field Type</mat-label>
            <mat-select required formControlName="fieldType" placeholder="Field Type">
              @for(fieldType of fieldService.fieldTypes$ | async; track fieldType.id) {
                <mat-option [value]="fieldType.id">
                  {{fieldType.name}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>



    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="fieldForm.invalid || !fieldForm.dirty">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
